.services {
  &__item {
    display: flex;
    gap: 30px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #2D3033;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    color: #2D3033;
  }
}
