.story {
  margin-bottom: 108px;

  &__card {
    display: flex;
    gap: 30px;
  }

  &__col-str {
    background-color: $color-primary;
  }

  &__col {

    position: relative;
  }

  &__info {
    @include info;
  }

  &__item {
    display: inline-block;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    transition: transform 0.2s linear;

    &:hover {
      transform: translate3d(-16px, -16px, 0);
    }

    &:hover .story__img {
      opacity: 0.3;
    }

    &:hover .story__info {
      opacity: 1;
    }
  }
}
