.team {
  margin-bottom: 100px;

  &__place {
    display: flex;
    gap: 15px;
  }

  &__card {
    display: flex;
  }

  &__col {
    position: relative;
    background-color: $color-base;

    &:hover {
      background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    }

    &:hover .team__img {
      opacity: 0.3;
    }

    &:hover .team__info {
      opacity: 1;
    }
  }

  &__img {
    transform: translate3d(16px, 16px, 0);
  }

  &__info {
    @include info;
  }

  &__pers {
    margin-top: 30px;
    margin-left: 16px;
    text-align: center;
  }

  &__name {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    color: #2D3033;
  }

  &__prof {
    font-weight: 400;
    font-size: 18px;
    color: #2D3033;
    text-transform: uppercase;
  }
}
